{% extends 'users/base.html' %}
{% block main %}
{% include 'users/profile.html' %}

<div>
    <h2>Wish Lists</h2>
    <a href="/item/add.bap">add</a>
    {% if items %}
    <ol>
        {% for item in items %}
        <li><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></li>
        {% endfor %}
    </ol>
    {% endif %}

</div>

    <div>
    <h2>Wish Remove</h2>
    <form action="remove.json" method="POST">
        {% csrf_token %}
        <input type="text" name="id" />
        <input type="submit" value="Submit" />
    </form>

</div>

{% endblock %}